{% extends "../layouts/base-layout.html" %} {% block content %}
<div class="overflow-x-auto bg-base-100 rounded-box px-3 py-4">
  <form>
    <div class="px-4 pt-2 pb-4 flex w-full justify-between">
      <h2 class="text-3xl font-bold">My Books</h2>
      <div>
        <a href="/books/create" class="btn btn-primary">Add Book</a>
      </div>
    </div>
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for book in Books %}
        <tr
          class="hover cursor-pointer"
          onclick="window.location='/books/{{ book.Id }}/edit';"
        >
          <td>{{ book.Title}}</td>
          <td>{{ book.Author }}</td>
          <td>{{ book.Rating }}/5</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>
{% endblock content %}
