#!/bin/bash

source .envrc.local

touch db/pms.db

export ALPINE_VERSION="3.18"
export VITE_API_URL="http://localhost:3000"
export GITHUB_SHA="$(git rev-parse HEAD)"
export DATABASE_URL="file:db/pms.db?cache=shared&mode=rw"

export GOPATH="$(asdf where golang)/packages"
