#!/bin/bash

source .envrc.local

touch db/pms.db

export ALPINE_VERSION="3.18"
export VITE_API_URL="http://localhost:3000"
export GITHUB_SHA="$(git rev-parse HEAD)"
export DATABASE_URL="file:db/pms.db?cache=shared&mode=rw"

export GOPATH="$(rtx where golang)/packages"

go install github.com/swaggo/swag/cmd/swag@latest

rtx reshim

echo "{\n"\
"  \"go.gopath\": \"$(rtx where golang)/packages\",\n"\
"  \"go.goroot\": \"$(rtx where golang)/go\"\n"\
"}" > .vscode/settings.json
