#!/bin/bash

source .envrc.local

export DATABSE_FILE="db/pms.sqlite3"

export ALPINE_VERSION="3.18"
export VITE_API_URL="http://localhost:3000"
export GITHUB_SHA="$(git rev-parse HEAD)"
export DATABASE_URL="file:${DATABSE_FILE}?cache=shared&mode=rw"
export MIGRATIONS="$(pwd)/db/migrations"

export GOPATH="$(rtx where golang)/packages"

brew install golang-migrate

go install github.com/swaggo/swag/cmd/swag@latest

rtx reshim

echo "{\n"\
"  \"go.gopath\": \"$(rtx where golang)/packages\",\n"\
"  \"go.goroot\": \"$(rtx where golang)/go\"\n"\
"}" > .vscode/settings.json

touch "${DATABSE_FILE}"

alias new-migration="migrate create -ext sql -dir ${MIGRATIONS} -seq"
alias migrate="go run cmd/migrate/main.go"
alias run="go run cmd/app/main.go"