<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://kit.fontawesome.com/116b49b71b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ Title|default:"Books" }}</title>
  </head>
  <body class="bg-base-200 min-h-screen p-6 flex justify-center">
    <div class="max-w-6xl w-full">
      {% include "../partials/navbar.html" %}
      <section id="content" class="pt-8 pb-16">
        {% block content %}{% endblock %}
      </section>
    </div>
  </body>
</html>
